
@import 'reset';
.Collection{
    display: flex;
    margin-top: 8%;
    flex-wrap: wrap;
    margin-left: 7%
  
}
    .First_card{
        
        width: 18%;
        background-color:lightgray;
        margin-right: 1%;
        margin-bottom: 1%;
        border-radius: 2%;
        
    }

    .card_photo{
        width: 330px; 
        height: 223px;
        border-radius: 2%;

    }
    .genre{
        background-color: rosybrown;
        width:fit-content;
        border-radius: 15px;
        color: white;
        padding: auto;
    }
    .creator{
        margin-bottom: 7%;
        color: rgb(43, 39, 36);
        font-size: 1em;
    }
    .summary{
        text-align: justify;
    }
    .header{
        text-align: center;
        margin-left: 20%;
    }

